@using Abp.Web.Mvc.Extensions
<div>
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("ChangeProfilePicture")</span>
                <button type="button" aria-hidden="true" class="close" ng-click="vm.cancel()"></button>
            </h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="file" nv-file-select uploader="vm.uploader" />
                <span class="help-block m-b-none">@L("ProfilePicture_Change_Info")</span>
            </div>
            <img id="ProfilePictureResize" src="" ng-show="vm.uploadedFileName" />
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn red" ng-click="vm.cancel()"><i class="glyphicon glyphicon-remove"></i>@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn green-meadow" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>